.currentvalues-page {
    background-color: #E7F2EE;
    width: 80%;
    height: 1000px;
    position: relative;
    left: 20%;
}

.topic {
    font-size: 24px;
    font-weight: bold;
    color: #1F3119;
} 

.content {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
}

.value-boxes {
    margin-top: 44px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.flex {
    display: flex;
}

.space-btw {
    justify-content: space-between;
}

.location img {
    width: 24px;
    height: 24px;
    margin-top: 8px;
}

.location p {
    margin-top: 8px;
    margin-left: 8px;
}