.input-predictor {
    width: 100%;
    height: 40px;
    display: flex;
    background-color: #FEFEFE;
    padding: 16px 0;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    position: relative;
}

.input-unit {
    width: 300px;
    display: grid;
    grid-template-columns: 230px 70px;
    margin-right: 20px;
    margin-top: 4px;
    color: #7E8983; 
}

.input-predictor .values-name {
    display: flex;
    margin-left: 20px;
    margin-top: 4px;
}

.values-name img {
    width: 30px;
    height: 30px;
}

.values-name .name {
    margin-left: 16px;
}

.input-unit input {
    border-radius: 12px;
    border: none;
    padding: 8px;
    margin-right: 16px;
    background-color: #F4F1F1;
    text-align: center;
}

.input-unit input[type="number"] {
    font-size: 18px;
}

.input-unit .unit {
    margin-top: 4px;
}
