.predictor-page {
    background-color: #E7F2EE;
    width: 80%;
    height: 1000px;
    position: relative;
    left: 20%;
}

.content {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
}

.topic {
    font-size: 24px;
    font-weight: bold;
    color: #1F3119;
} 

.inputs {
    display: block;
    margin-top: 44px;
}

.input-predictor {
    margin-top: 20px;
}

.predictor-page button {
    margin-top: 20px;
    padding: 16px;
    width: 100%;
    background-color: #39737d;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 16px;
    cursor: pointer;
}

.predictor-page button:hover {
    background-color: #2b565e;
    color: #FFFFFF;
    transition: ease-in 0.2s;
}

.predictor-page .value-box {
    margin-top: 20px;
}